{% extends 'base.html' %}
{% block title %}Pick hobbies{% endblock %}

{% block content %}

<div class="center_contents_containers">
    <h1 class="main_title">Pick hobbies/activities you enjoy doing.</h1>
    <div class="half_and_half_split_container">
        <div clas="sidebar_menu">
            <form method="POST" id="user_form">
                {{ form.hidden_tag() }}
                <p class="low_margin_title">Select hobbies from the list</p>
                {{ form.name(class='input_select') }}
                <p class="low_margin_title">or add your hobby if it is not on the list</p>
                {{ form.add_new(placeholder=form.add_new.label.text, class='input_field_dark') }}
                <br>
                <button class="button-primary" type="submit">Add</button>
            </form>
        </div>
        <div class="user_hobbies">
            <h4 class="low_margin_title">Your hobies</h4>
            <ul class="hobbies_list">
                {% for hobby in hobbies %}
                <li class='white_font'>{{ hobby.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <a href='/'>
                <div type="button" class="button-primary">Done</div>
            </a>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

    </div>

    {% endblock %}