body {
  margin: 0px;
  padding: 0px;
  font-family: 'Varela Round', sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #387C75;
  color: #fff;
  height: 80px;
  padding: 0 20px;
}

.nav-logo {
  width: 80px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbar-brand,
  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-brand {
    margin-bottom: 15px;
  }

  .navbar-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .navbar-nav {
    display: none;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-item a {
    display: block;
    padding: 10px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
  }
}

.main-logo-img {
  width: 300px;
}
/* ----------------------------Containers----------------------------------- */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ---------------------------front page-------------------------------------- */
.front-page-logo {
  padding-left: auto;
  padding-right: auto;
  align-content: center;
}

/* --------------------------Login and Sign up forms------------------------- */
.user_forms_container {
  padding: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login_button_switch {
  width: 50%;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

#signup {
  background-color: #387C75;
  color: white;
}
#login {
  border: 1px solid #387C75;
  color: #387C75;
}

.small_forms_container {}