body {
  margin: 0px;
  padding: 0px;
  font-family: 'Varela Round', sans-serif;
  background-color: #252D3A;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

/* ----------------------------------Styling Scroll bars------------------------- */

* {
  scrollbar-width: thin;
  scrollbar-color: #387C75 white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  display: none;
  background: white;
  border-radius: 10px;
  background: #252D3A;
  border: 1px solid #252D3A;
  box-shadow: -6px -6px 4px rgba(56, 68, 89, 0.5), 6px 6px 4px rgba(2, 2, 2, 0.5), inset -6px -6px 4px rgba(56, 68, 89, 0.7), inset 6px 6px 4px rgba(2, 2, 2, 0.26);
}

*::-webkit-scrollbar-thumb {
  background-color: #387C75;
  border-radius: 20px;
  border: 3px solid #252D3A;
}

/* ----------------------------------Styling Navbar------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #387C75;
  color: #fff;
  height: 80px;
  padding: 0 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
  transition: top 0.3s;
}

.nav-logo {
  width: 80px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  padding: 30px 10px;
}

.nav-item a:hover {
  background-color: #444;
}

.navbar-toggle {
  display: none;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbar-brand,
  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-brand {
    margin-bottom: 15px;
  }

  .navbar-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .navbar-nav {
    display: none;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-item a {
    display: block;
    padding: 10px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
  }

  .main_container {
    display: flex;
    flex-wrap: wrap;
  }

  .sidebar_menu {
    display: none;
  }

  .sidebar_menu_buttons {
    display: none;
  }
}

.main-logo-img {
  width: 500px;
}

/* -----------------------------Side bar menu for user dashboard ---------------- */
.sidebar_menu {
  padding-top: 50px;
}

.sidebar_menu_buttons {
  display: inline-block;
  width: 90%;
  height: auto;
  margin: 5px;
  padding: 10px;
  background-color: #387C75;
  color: white;
  border-radius: 15px;
  font-size: 0.9rem;
  z-index: 1;
  box-shadow: -4px -4px 4px rgba(56, 124, 117, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #2F6661, inset 5px 5px 5px rgba(74, 163, 154, 0.25);
}

.sidebar_collapsed_buttons {
  display: inline-block;
  width: 80%;
  height: auto;
  margin: 5px 5px 5px 15px;
  padding: 5px 5px 5px 10px;
  background-color: #444;
  color: white;
  border-radius: 15px;
  font-size: 0.8rem;
  z-index: 1;
}

.sidebar_menu_buttons:hover,
.sidebar_menu_buttons:active {
  background-color: #444;
  box-shadow: inset -5px -5px 6px #484a4a, inset 5px 5px 5px rgba(33, 39, 38, 0.25);
}

.main_user_dashboard {
  padding: 20px 50px;
  margin-left: 10px;
  border-left: 2px solid #387C75;
}

/* ----------------------------Containers----------------------------------- */
.welcome_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main_container {
  display: grid;
  grid-template-columns: 170px auto;
  grid-gap: 8px;
  padding: 8px;
}

.front_page_container {
  margin: 0px;
  background-color: white;
}

.front_page_container_dark {
  margin: 0px;
  background-color: #252D3A;
  text-align: center;
  padding: 40px;
}

.horizontal_scroll_container {
  width: 70vw;
  height: auto;
  padding: 8px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.pods_container {
  display: flex;
  flex-wrap: wrap;
}

.padded_container {
  padding: 50px;
}

.center_contents_containers {
  padding: 30px;
  margin: 0px auto;
  width: 50%;
}

.half_and_half_split_container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 8px;
  padding: 8px;
}

.collapsed_container {
  display: none;
  overflow: hidden;
}

.half_rounded_container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #387C75;
  overflow: hidden;
  border-radius: 60% 0 0 60% / 100% 0 0 100%;
}

.team_member_container {
  display: inline-block;
  white-space: normal;
  width: 300px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  background-color: #387C75;
  border-radius: 15px;
}

.sub_pod_message_container {
  white-space: normal;
  width: 70vw;
  margin: 3px;
  padding: 5px 5px 5px 15px;
  border-radius: 10px;
  background-color: #91AE9C;
  color: #000000;
  border-radius: 15px;
  box-shadow: -4px -4px 4px rgba(145, 174, 156, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #71877A, inset 5px 5px 5px rgba(195, 233, 210, 0.5);
}

.message_container {
  white-space: normal;
  width: 70vw;
  margin: 3px;
  padding: 5px 5px 5px 15px;
  border-radius: 10px;
  background-color: #FFBB00;
  color: #000000;
  border-radius: 15px;
  box-shadow: -4px -4px 6px rgba(255, 192, 19, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #C39003, inset 5px 5px 5px rgba(255, 235, 180, 0.5);
}

.user_message_container {
  white-space: normal;
  background-color: #387C75;
  margin: 3px;
  padding: 5px 5px 5px 15px;
  border-radius: 10px;
  color: #fff;
  box-shadow: -4px -4px 4px rgba(56, 124, 117, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #2F6661, inset 5px 5px 5px rgba(74, 163, 154, 0.25);
}

.all_hobbies_container {
  white-space: normal;
  background-color: #387C75;
  margin: 3px;
  padding: 5px 5px 5px 15px;
  border-radius: 10px;
  color: #fff;
  box-shadow: -4px -4px 4px rgba(56, 124, 117, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #2F6661, inset 5px 5px 5px rgba(74, 163, 154, 0.25);
}

.indented_container {
  width: 70vw;
  margin: 15px 0px;
  padding: 10px;
  background: #252D3A;
  border: 1px solid #252D3A;
  box-shadow: -6px -6px 4px rgba(56, 68, 89, 0.5), 6px 6px 4px rgba(2, 2, 2, 0.5), inset -6px -6px 4px rgba(56, 68, 89, 0.7), inset 6px 6px 4px rgba(2, 2, 2, 0.26);
  border-radius: 20px;
}

.indented_container_label {
  width: auto;
  padding: 5px 30px;
  background-color: #252D3A;
  border-radius: 10px;
  box-shadow: -4px -4px 4px rgba(77, 93, 120, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #1A2028, inset 5px 5px 5px rgba(77, 93, 120, 0.5);
}

.attractions_container {
  flex: 0 0 auto;
  white-space: normal;
  width: 150px;
  height: 110px;
  padding: 5px;
  margin: 5px;
  background-color: #DAECE1;
  color: #000000;
  border-radius: 15px;
  box-shadow: -4px -4px 4px rgba(218, 236, 225, 0.08), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #B1C1B8, inset 5px 5px 5px rgba(255, 255, 255, 0.5);
}

/* ---------------------------loading spinner--------------------------------- */
.loader {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #444;
  border-top: 16px solid #387C75;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------------------------ICONS-------------------------------------- */
.trash {
  width: 20px;
  display: inline-block;
  margin: 3px 10px;
  float: right;
  cursor: pointer;
}


/* --------------------------Forms------------------------- */
.user_forms {
  margin: 0 auto;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  background-color: #387C75;
  text-align: center;
  box-shadow: -4px -4px 4px rgba(56, 124, 117, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #2F6661, inset 5px 5px 5px rgba(74, 163, 154, 0.25);
}

.message_form {
  background-color: #387C75;
  border-radius: 20px;
  box-shadow: -4px -4px 4px rgba(56, 124, 117, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #2F6661, inset 5px 5px 5px rgba(74, 163, 154, 0.25);
}

/* ----------------------------Buttons-------------------------------- */
.button-primary {
  display: inline-block;
  width: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #387C75;
  color: white;
  padding: 10px 0px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
  box-shadow: -4px -4px 4px rgba(56, 124, 117, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #2F6661, inset 5px 5px 5px rgba(74, 163, 154, 0.25);
}

.button-primary:hover,
.button-primary:active {
  background-color: #444;
  box-shadow: inset -5px -5px 6px #484a4a, inset 5px 5px 5px rgba(33, 39, 38, 0.25);
}

.button-secondary {
  display: inline-block;
  width: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: #387C75;
  padding: 10px 0px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
  box-shadow: 2px 2px 4px rgb(95, 147, 112), inset 3px 3px 4px rgba(0, 0, 0, 0.35);
}

.button-secondary:hover,
.button-secondary:active {
  background-color: #444;
  color: white;
  box-shadow: inset -5px -5px 6px #484a4a, inset 5px 5px 5px rgba(33, 39, 38, 0.25);
}

.button-message {
  position: relative;
  top: -30px;
  display: inline-block;
  width: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #387C75;
  color: white;
  padding: 10px 0px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
  box-shadow: -4px -4px 4px rgba(56, 124, 117, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #2F6661, inset 5px 5px 5px rgba(74, 163, 154, 0.25);
}

.button-message:hover,
.button-message:active {
  background-color: #444;
  color: white;
  box-shadow: inset -5px -5px 6px #484a4a, inset 5px 5px 5px rgba(33, 39, 38, 0.25);
}

.button-info {
  position: relative;
  width: 150px;
  background-color: #44558d;
  color: white;
  padding: 10px 0px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
  box-shadow: -4px -4px 4px rgba(68, 85, 141, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #2B3556, inset 5px 5px 5px rgba(99, 122, 197, 0.5);
}

.button-info:hover,
.button-info:active {
  background-color: #444;
  color: white;
  box-shadow: inset -5px -5px 6px #484a4a, inset 5px 5px 5px rgba(33, 39, 38, 0.25);
}

.button-leave {
  float: right;
  margin-top: -50px;
  margin-right: 100px;
  width: 150px;
  background-color: #FD4646;
  color: white;
  padding: 10px 0px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
  box-shadow: -4px -4px 4px rgba(253, 70, 70, 0.08), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #C03939, inset 5px 5px 5px rgba(255, 197, 197, 0.5);
}

/* ----------------------------images----------------------------------- */
#tripadvisor_logo {
  height: 20px;
  margin-right: 10px;
}

/* ----------------------------Pods------------------------------------- */
.pod_thumbnail {
  flex: 0 0 auto;
  white-space: normal;
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 5px;
  background-color: #FFBB00;
  color: #000000;
  border-radius: 15px;
  box-shadow: -4px -4px 6px rgba(255, 192, 19, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #C39003, inset 5px 5px 5px rgba(255, 235, 180, 0.5);
}


.sub_pod_thumbnail {
  flex: 0 0 auto;
  white-space: normal;
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 5px;
  background-color: #91AE9C;
  color: #000000;
  border-radius: 15px;
  box-shadow: -4px -4px 4px rgba(145, 174, 156, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #71877A, inset 5px 5px 5px rgba(195, 233, 210, 0.5);
}

.team_members {
  display: flex;
  flex-wrap: wrap;
}

.team_member_thumbnail {
  flex: 0 0 auto;
  white-space: normal;
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 5px;
  background-color: #387C75;
  border-radius: 15px;
  box-shadow: -4px -4px 4px rgba(56, 124, 117, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.35), inset -5px -5px 6px #2F6661, inset 5px 5px 5px rgba(74, 163, 154, 0.25);
}

.pod_thumbnail_text_title {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 3px;
  margin: 3px;
}

.pod_thumbnail_text {
  font-size: 0.7rem;
  padding: 3px;
  margin: 3px;
}


/* -----------------------------------Hobbies ------------------------------------------- */
.undecorated_list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 10px;
  text-align: left;
  list-style-type: none;
}

.user_hobbies {
  margin-left: 50px;
  border-left: 2px solid #387C75;
  padding-left: 50px;
}

/* -----------------------------------Messages to the user------------------------------- */
.error {
  width: 310px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(235, 110, 110);
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 0.8rem;
  z-index: 2;
}

.success {
  width: 310px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(59, 130, 65);
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 0.8rem;
  z-index: 2;
}

/* -----------------------------------Input Fields -------------------------------------- */
.input_select {
  font-size: 0.9rem;
  padding: 8px 16px;
  width: 200px;
  background-color: #387C75;
  color: white;
  border-radius: 15px;
  border: 2px solid #387C75;
  box-shadow: 2px 2px 4px rgb(78, 79, 78), inset 3px 3px 4px rgba(0, 0, 0, 0.35);
}

.input_field {
  margin: 5px;
  font-size: 0.9rem;
  padding: 8px 16px;
  width: 165px;
  border-radius: 15px;
  border: 2px solid #387C75;
  background: white;
  box-shadow: 2px 2px 4px rgb(95, 147, 112), inset 3px 3px 4px rgba(0, 0, 0, 0.35);
}

.input_field_dark {
  margin: 5px;
  font-size: 0.9rem;
  padding: 8px 16px;
  width: 165px;
  border-radius: 15px;
  border: 2px solid #444;
  background: white;
  box-shadow: 2px 2px 4px rgb(95, 97, 96), inset 3px 3px 4px rgba(0, 0, 0, 0.35);
}

.input_area_field {
  margin: 10px 0px;
  width: 300px;
  height: 80px;
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 15px;
  border: 2px solid #444;
  box-shadow: 2px 2px 4px rgb(95, 97, 96), inset 3px 3px 4px rgba(0, 0, 0, 0.35);
}

.message_field {
  display: inline-block;
  margin: 10px;
  font-size: 0.9rem;
  padding: 8px 16px;
  width: 300px;
  height: 50px;
  border-radius: 15px;
  color: #000000;
  border-radius: 15px;
  box-shadow: inset 5px 5px 5px rgba(73, 73, 73, 0.2);
}

/* ------------------------------------Images ------------------------------------------- */

.main-logo-img {
  width: 250px;
}

.main-logo-text {
  width: 350px;
}

.img_examples {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  padding: 30px 0px;
}

/* -----------------------------------Additional Text Style ----------------------------- */
.low_margin_title {
  padding: 3px;
  margin: 3px;
  color: white;
}

.timestamp {
  margin: 0px;
  padding: 0px;
  font-size: 0.6rem;
  color: rgb(165, 165, 165);
  float: right;
}

.inline_text {
  display: inline-block;
}

.small_font {
  font-size: 0.8rem;
}

.larger_font {
  font-size: 1.2rem;
}

.main_title {
  color: white;
}

.content_text {
  color: rgb(194, 194, 194);
}

.white_font {
  color: white;
}

.black_font {
  color: black;
}

.yellow_font {
  color: #FFBB00;
}