body {
  margin: 0px;
  padding: 0px;
  font-family: 'Varela Round', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #387C75;
  color: #fff;
  height: 80px;
  padding: 0 20px;
}

.nav-logo {
  width: 80px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbar-brand,
  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-brand {
    margin-bottom: 15px;
  }

  .navbar-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .navbar-nav {
    display: none;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-item a {
    display: block;
    padding: 10px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
  }
}

.main-logo-img {
  width: 500px;
}

/* -----------------------------Side bar menu for user dashboard ---------------- */
.sidebar_menu {
  grid-row-start: 1;
  grid-row-end: 1;
  padding-top: 50px;
  background-color: #3b7c38;
}


.sidebar_menu_buttons {
  display: inline-block;
  width: 100%;
  height: 40px;
  background-color: white;
  border-right: 2px solid #387C75;
}


.main_user_dashboard {
  display: inline-block;
  padding: 20px 50px;
}

/* ----------------------------Containers----------------------------------- */
.welcome_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main_container {
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 8px;
  padding: 8px;
}

/* ----------------------------Trip advisor attractions----------------------- */
.things_to_do {
  width: 70vw;
  height: 125px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.attraction {
  display: inline-block;
  white-space: normal;
  width: 150px;
  padding: 5px;
  margin: 5px;
  border: 2px solid #3b7c38;
  font-size: 0.7rem;
}

.attraction_title {
  display: inline-block;
}

.attraction_link {
  margin: 10px;
  text-decoration: none;
}

/* ---------------------------loading spinner--------------------------------- */
.loader {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #444;
  border-top: 16px solid #387C75;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------------------------front page-------------------------------------- */
.front-page-logo {
  padding-left: auto;
  padding-right: auto;
  align-content: center;
}

/* --------------------------Login and Sign up forms------------------------- */
.user_forms_container {
  padding: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login_button_switch {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

#signup {
  background-color: #387C75;
  color: white;
}

#login {
  border: 1px solid #387C75;
  color: #387C75;
}

.user_forms {
  justify-content: center;
}

/* ----------------------------Buttons-------------------------------- */
.button-primary {
  background-color: #387C75;
  color: white;
}

/* ----------------------------images----------------------------------- */
#tripadvisor_logo {
  height: 20px;
  margin-right: 10px;
}