<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel='stylesheet' href='/static/app.css'>
  <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
  <nav class="navbar" id="navbar">
    <div class="navbar-brand">
      <a href="/"><img src="/static/imgs/peapods_logo_white.png" class='nav-logo' alt="small PeaPods logo"></a>

    </div>
    <ul class="navbar-nav">
      {% if not g.user %}
      <li class="nav-item"><a href="/users/login">Login</a></li>
      <li class="nav-item signup"><a href="/users/signup">SignUp</a></li>

      {% else %}
      <li class="nav-item"><a href="/users/profile/{{g.user.id}}">Profile</a></li>
      <li class="nav-item"><a href="/users/logout">Logout</a></li>
      {% endif %}
    </ul>
    <div class="navbar-toggle">
      <i class="fa fa-bars"></i>
    </div>
  </nav>

  {% block content %}


  {% endblock %}
  <script src="/static/base.js"></script>
</body>

</html>