<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel='stylesheet' href='/static/app.css'>
  <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
<div class='dark_background'>
  <div class="dark_base">
    <div class="dark_frame">
    <nav class="navbar" id="navbar">
      <div class="navbar-brand">
        <a href="/"><img src="/static/imgs/peapods_logo_white.png" class='nav-logo' alt="small PeaPods logo"></a>

      </div>
      <ul class="navbar-nav">
        {% if not g.user %}
        <li class="nav-item"><a href="/users/login" class='white_font'><div class="normal-nav">Login</div></a></li>
        <li class="nav-item"><a href="/users/signup" class='black_font'><div class="action-nav">SignUp</div></a></li>

        {% else %}
        <li class="nav-item"><a href="/users/profile/{{g.user.id}}"><div class="normal-nav">Profile</div></a></li>
        <li class="nav-item"><a href="/users/logout"><div class="normal-nav">Logout</div></a></li>
        {% endif %}
      </ul>
      <div class="navbar-mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </div>
    </div>

  {% block content %}


  {% endblock %}
</div>
  <script src="/static/base.js"></script>
</body>

</html>