{% extends 'base.html' %}
{% block title %}Welcome to Our Pea Pods{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="front_page_container">
    <div class="flex_container">
        <div class="center_contents_containers">
            <img src="/static/imgs/PeaPods_welcome.png" class='main-logo-img' alt="Main PeaPods icon logo">
        </div>
        <div class="green_container">
            <div class='center_text'>
                <h1 class='white_font'>Welcome to PeaPods</h1>
                <p class='white_font'>PeaPods is designed for teams wanting to know more about eachother at a quick
                    glance.</p>
                <p class='white_font'>- Create a Pod for your company.</p>
                <p class='white_font'>- Invite your team members.</p>
                <p class='white_font'>- Everyone adds hobbies/interests to their profile.</p>
                <p class='white_font'>- Connect with other team members based on common hobbies/interests.</p>

            </div>
        </div>
    </div>
    <div class="front_page_container_dark">
        <h1 class="white_font larger_font">User dashboard allows for quick access to all of your Pods and Sub-Pods.</h1>
        <div class="padded_container">
        <div class="flex_container">
        <div class="flex_container_child white_font">
            <div class="fixed_img_size">
            <img src='/static/imgs/background_pea.png' class='background_pea_img' alt='sunrise vector art green like a pea picture'>
            <ul class='overlay_text'>
                <li class="text_with_margin">One main Pod per team/company</li>
                <li class="text_with_margin">Multiple sub-pods to create small teams within the company</li>
                <li class="text_with_margin">Post messsages with in main Pod and Sub-Pods</li>
                <li class="text_with_margin">Simple intuitive interface</li>
            </ul>
        </div>  
        </div> 
        <div class="flex_container_child">
            <div class="padded_container">
            <img src='/static/imgs/pods_example.png' class="flex_img" alt='pods display example picture'>
            </div>
        </div>
      
       
    <div class="center_contents_containers">
    <h1 class="white_font larger_font">User dashboard allows for quick access to all of your Pods and Sub-Pods.</h1>
        <div class='flex_container'>
            <div class="flex_container_child">
                <img src='/static/imgs/Pods_members_1.png' class="flex_img" alt='example of matching hobbies picture'>
                <img src='/static/imgs/Pods_members_2.png' class="flex_img" alt='second example of matching hobbies picture'>
            </div>
        </div>
    
    </div>
</div>
    <div class='flex_container'>
        <div class="green_container">
            <p class="white_font larger_font"></p>
        </div>
    </div>
</div>

{% endblock %}