{% extends 'base.html' %}
{% block title %}Welcome to Our Pea Pods{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="half_and_half_split_container">
    <div class="center_contents_containers">
        <img src="/static/imgs/peapods_logo.png" class='main-logo-img' alt="Main PeaPods icon logo">
        <img src="/static/imgs/peaPods.png" class='main-logo-text' alt="Main PeaPods word logo">
    </div>
    <div class="half_rounded_container">
        <div class='center_contents_containers'>
        <h1 class='white_font'>Welcome to PeaPods</h1>
        <p class='white_font'>PeaPods is designed for teams wanting to know more about eachother at a quick glance.</p>
        <p class='white_font'>- Create a Pod for your company.</p>
        <p class='white_font'>- Invite your team members.</p>
        <p class='white_font'>- Everyone adds hobbies/interests to their profile.</p>
        <p class='white_font'>- Connect with other team members based on common hobbies/interests.</p>

        </div>
    </div>
</div>

{% endblock %}