<div class="user_forms_container">
    <div id="signup" class="login_button_switch">SignUp</div>
    <div id="login" class="login_button_switch">Login</div>
    <div class="user_forms">
        <form method="POST" id="signup_form" class="signin_login_forms">
            {{ form.hidden_tag() }}
            <div id="signup_form_container" class="small_forms_container">
                {{ form.username(placeholder=form.username.label.text, class='input-field') }}
                {{ form.email(placeholder=form.email.label.text, class='input-field')}}
                {{ form.first_name(placeholder=form.first_name.label.text, class='input-field')}}
                {{ form.last_name(placeholder=form.last_name.label.text, class='input-field')}}
                {{ form.city(placeholder=form.city.label.text, class='input-field')}}
                {{ form.state(placeholder=form.state.label.text, class='input-field')}}
                {{ form.password(placeholder=form.password.label.text, class='input-field')}}
            </div>
            <div id="login_form_container" class="small_forms_container">
                {{ form.username(placeholder=form.username.label.text, class='input-field') }}
                {{ form.password(placeholder=form.password.label.text, class='input-field')}}
            </div>
            <br>
            <button id='login_signup_button' class="btn-primary">Sign up</button>
        </form>
    </div>