{% extends 'base.html' %}
{% block title %}Welcome to Our Pea Pods{% endblock %}

{% block content %}
<h1>hello</h1>
<form method="POST" id="signup_form">
  {{ signup_form.hidden_tag() }}

  {% for field in signup_form if field.widget.input_type != 'hidden' %}
  {% for error in field.errors %}
  <span class="text-danger">{{ error }}</span>
  {% endfor %}
  {{ field(placeholder=field.label.text, class="form-control") }}
  {% endfor %}

  <button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
</form>

{% endblock %}